@import "./globalstyles";

html {
  font-size: 62%;
}

* {
  font-size: 15rem;
}


.App {
  position: absolute;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: center;
  @include backgroundColor();
  height: 400vw;
}

@media screen and (max-width: 900px) {
  .App {
    height: 420vw;
  }
}

@media screen and (max-width: 800px) {
  .App {
    height: 440vw;
  }
}

@media screen and (max-width: 700px) {
  .App {
    height: 460vw;
  }
}
