@import "_globalstyles";

.content {
  position: absolute;
  top: 20%;
  background-color: rgba(200, 200, 200, 0.2);
  width: 100%;
  height: $contentHeight;
}

.content-info-container {
  width: 100%;
  position: absolute;
  top: 50px;
  margin-bottom: 50px;
}

@for $i from 1 through 4 {
  .content-information-#{$i} {
    margin-top: 18vw;
    width: 90%;
    margin-left: 5%;
    height: 40vw;
    background-color: rgba(200, 200, 200, 0.2);
  }
}

@media screen and (max-width: 890px) {
  .content {
    top: 17%;
    height: 210vw;
  }
  .content-info-container {
    margin-bottom: 2vw;
  }
  @for $i from 1 through 4 {
    .content-information-#{$i} {
      height: 30vw;
    }
  }
}

@media screen and (max-width: 560px) {
  .App {
    height: $navHeight;
  }
  .content {
    top: 17%;
  }
  @for $i from 1 through 4 {
    .content-information-#{$i} {
      height: 30vw;
    }
  }
}