@import "_globalstyles";

.nav {
  position: absolute;
  width: 100%;
  top: $headerHeight;
  background-color: rgba(200, 200, 200, 0.2);
  height: $navHeight;
}

.nav-scrolled {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  height: $navHeight;
}

.button-container {
  margin-top: 3.5vw;
}


@for $i from 1 through 4 {
  .button-container-button-#{$i} {
    background-color: rgba(200, 200, 200, 0.4);
    margin-right: 100px;
    display: inline;
    padding: 20px 60px;
  }
  .button-container-link-#{$i} {
    color: white;
    text-decoration: none;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 890px) {
  .nav {
    top: $headerHeight890;
    height: $navHeight;
    .button-container {
      margin-top: 3.5vw;
    }
  }

  @for $i from 1 through 4 {
    .button-container-button-#{$i} {
      margin-right: 60px;
      padding: 10px 40px;
    }
    .button-container-button-4 {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 640px) {
  @for $i from 1 through 4 {
    .button-container-button-#{$i} {
      margin-right: 60px;
      padding: 5px 30px;
    }
    .button-container-button-4 {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 560px) {
  .nav {
    top: $headerHeight560 + 8px;
    height: $navHeight;
    .button-container {
      margin-top: 3vw;
    }
  }
  @for $i from 1 through 4 {
    .button-container-button-#{$i} {
      margin-right: 60px;
      padding: 2px 20px;
    }
    .button-container-button-4 {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .nav {
    .button-container {
      margin-top: 2vw;
    }
  }
  .nav-scrolled {
    .button-container {
      margin-top: 2vw;
    }
  } 
  @for $i from 1 through 4 {
    .button-container-button-#{$i} {
      margin-right: 40px;
      padding: 1.5px 18px;
    }
    .button-container-button-4 {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 340px) {
  .nav {
    top: $headerHeight340 + 12px;
    height: $navHeight;
    .button-container {
      margin-top: 2vw;
    }
  }
  @for $i from 1 through 4 {
    .button-container-button-#{$i} {
      margin-right: 40px;
      padding: 1.5px 18px;
    }
    .button-container-button-4 {
      margin-right: 0px;
    }
  }
}