.nav {
  position: absolute;
  width: 100%;
  top: 280px;
  background-color: rgba(200, 200, 200, 0.2);
  height: 9vw;
}

.nav-scrolled {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  height: 9vw;
}

.button-container {
  margin-top: 3.5vw;
}

.button-container-button-1 {
  background-color: rgba(200, 200, 200, 0.4);
  margin-right: 100px;
  display: inline;
  padding: 20px 60px;
}

.button-container-link-1 {
  color: white;
  text-decoration: none;
}

.button-container-button-4 {
  margin-right: 0px;
}

.button-container-button-2 {
  background-color: rgba(200, 200, 200, 0.4);
  margin-right: 100px;
  display: inline;
  padding: 20px 60px;
}

.button-container-link-2 {
  color: white;
  text-decoration: none;
}

.button-container-button-4 {
  margin-right: 0px;
}

.button-container-button-3 {
  background-color: rgba(200, 200, 200, 0.4);
  margin-right: 100px;
  display: inline;
  padding: 20px 60px;
}

.button-container-link-3 {
  color: white;
  text-decoration: none;
}

.button-container-button-4 {
  margin-right: 0px;
}

.button-container-button-4 {
  background-color: rgba(200, 200, 200, 0.4);
  margin-right: 100px;
  display: inline;
  padding: 20px 60px;
}

.button-container-link-4 {
  color: white;
  text-decoration: none;
}

.button-container-button-4 {
  margin-right: 0px;
}

@media screen and (max-width: 890px) {
  .nav {
    top: 200px;
    height: 9vw;
  }
  .nav .button-container {
    margin-top: 3.5vw;
  }
  .button-container-button-1 {
    margin-right: 60px;
    padding: 10px 40px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-2 {
    margin-right: 60px;
    padding: 10px 40px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-3 {
    margin-right: 60px;
    padding: 10px 40px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-4 {
    margin-right: 60px;
    padding: 10px 40px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 640px) {
  .button-container-button-1 {
    margin-right: 60px;
    padding: 5px 30px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-2 {
    margin-right: 60px;
    padding: 5px 30px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-3 {
    margin-right: 60px;
    padding: 5px 30px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-4 {
    margin-right: 60px;
    padding: 5px 30px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 560px) {
  .nav {
    top: 128px;
    height: 9vw;
  }
  .nav .button-container {
    margin-top: 3vw;
  }
  .button-container-button-1 {
    margin-right: 60px;
    padding: 2px 20px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-2 {
    margin-right: 60px;
    padding: 2px 20px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-3 {
    margin-right: 60px;
    padding: 2px 20px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-4 {
    margin-right: 60px;
    padding: 2px 20px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .nav .button-container {
    margin-top: 2vw;
  }
  .nav-scrolled .button-container {
    margin-top: 2vw;
  }
  .button-container-button-1 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-2 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-3 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-4 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 340px) {
  .nav {
    top: 92px;
    height: 9vw;
  }
  .nav .button-container {
    margin-top: 2vw;
  }
  .button-container-button-1 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-2 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-3 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
  .button-container-button-4 {
    margin-right: 40px;
    padding: 1.5px 18px;
  }
  .button-container-button-4 {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=Nav.css.map */